@font-face {
    font-family: 'alegreyaregular';
    src: url('../font/alegreya-regular-webfont.woff2') format('woff2'),
         url('../font/alegreya-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html {
  margin: 0;
  height: 100%;
}
.full-part {
  margin: 0px 0px;
  padding: 0px 0px;
  font-family: 'alegreyaregular', Arial, Helvetica, sans-serif;
  background-color: #78081c;
}
.anchor {
  padding-top: 100px;
  margin-top: -100px;
}
/*****Header******/
#navigation {
  z-index: 99;
  background-color: #fff2e6;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  position: fixed;
}
.logo-item {
  width: 120px;
  height: 120px;
  margin-left: 10rem;
}
li { 
  margin-right: 10px;
  text-align: center;
}
.nav-link {
  margin-right: 2.8rem;
  font-size: 1.6em;
  color:  black !important;
}
.nav-link:hover {
  color: #b12830 !important;
}

@media screen and (max-width: 992px) {
  .navbar {
    height: auto;
  }
  .logo-item {
    width: 80px;
    height: 80px;
  }
}


/***Main image****/
.main-image {
  width: 100%;
  height: 55rem;
  z-index: 0;
  overflow: hidden;
}
.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-6rem) translateX(-4rem);
}
@media screen and (max-width: 740px) {
  .main-image img {
    transform: rotateZ(-5deg) translateY(-6rem) translateX(-2rem);
  }
}

/****Presentation****/
.presentation {
  text-align: center;
  max-width: 45rem;
  width: 70%;
  margin: auto;
  margin-top: -22rem;
  position: relative;
  background-color: #fff2e6;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}
.presentation-title {
  font-size: 2.5rem;
  margin-top: 0;
}
.presentation-content {
  font-size: 1.2em;
}
.color {
  color: #b12830;
}

@media screen and (max-width: 770px) {
  .presentation {
    width: 60%;
  }
  .presentation-title {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 560px) {
  .presentation-title {
    font-size: 1.4em;
  }
  .presentation-content {
    font-size: 1em;
  }
}

/******Menus********/
.menus { 
  margin-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.menu-card {
  height: 30rem;
  margin: 30px 20px;
  background-color: #fff2e6;
  border-radius: 10px;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.25);
}
.menu-image {
  width: 20rem;
  object-fit: cover;
  margin: 30px 30px;
  border-radius: 14px;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.25);
}
.menu-text {
  width: 25rem;
  text-align: center;
}
@media screen and (max-width: 1500px) {
  .menu-card {
    margin: 20px 10px;
  }
}
@media screen and (max-width: 420px) {
  .menu-image {
    width: 16rem;
  }
}

/****Icons*****/
.icons {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.icon {
  width: 150px;
  height: 150px;
  border: 4px solid #fff2e6;
  border-radius: 50%;
}
.icon-item {
  width: 80px;
  margin-top: 1.7rem;
  margin-left: 2rem;
}
@media screen and (max-width: 1120px) {
  .icon {
    width: 140px;
    height: 140px;
  }
  .icon-item {
    width: 70px;
    margin-top: 1.7rem;
    margin-left: 2rem;
  }
}
@media screen and (max-width: 780px) {
  .icon {
    width: 100px;
    height: 100px;
    margin: 10px 20px;
  }
  .icon-item {
    width: 50px;
    margin-top: 1.4rem;
    margin-left: 1.4rem;
    
  }
}

/*****Team*****/
.team { 
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}
.team-card {
  height: 22rem;
  margin: 30px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff2e6;
  border-radius: 10px;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.25);
}
.team-image {
  width: 12rem;
  height: 20rem;
  object-fit: cover;
  margin: 20px 20px;
  border-radius: 14px;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.25);
}
.team-text {
  width: 20rem;
  padding: 0px 10px;
  text-align: center;
}
@media screen and (max-width: 1250px) {
  .team {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 700px) {
  .team-card {
    height: 32rem;
    flex-direction: column;
  }
  .team-text {
    width: 25rem;
  }
}

/*******Gallery********/
.gallery {
  margin: 50px 0px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.gallery-box {
  display: flex;
  flex-direction: column;
}
.gallery-item {
  margin: 10px 0px;
  background-color: #fff2e6;
  border-radius: 10px;
}
.gallery-image {
  margin: 20px 20px;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
@media screen and (max-width: 570px) {
  .gallery-image {
    width: 20rem;
  }
}

/*****Footer*****/

.contact {
  height: 11rem;
  background-color: #fff2e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.left-content {
  text-align: end;
}
.center-content {
  margin: 0px 30px;
  padding: 0 10px;
  border-left: 2px solid black;
  border-right: 3px solid #b12830;
}
.right-content {
  text-align: start;
}
.legal-content {
  text-align: center;
  font-size: 0.8em;
}
@media screen and (max-width: 650px) {
  .contact {
    height: 28rem;
    flex-direction: column;
    align-items: center;
  }
  .contact-content {
    margin: 10px 0px;
  }
  .left-content {
    text-align: center;
  }
  .right-content {
    text-align: center;
  }
}


